@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Exo:ital,wght@0,100..900;1,100..900&family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Exo:ital,wght@0,100..900;1,100..900&family=Marcellus&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --body: "Baskervville", serif;
  --head: "Playfair Display", serif;
  --background-image-d: #171717;
  /* Light mode background gradient */
  --background-image-l: #ffc2d1;
  /* #171717
  #6A6A6A
  #9DF9EB
  #CB96F7
  #F1EBF2 */ 

  /* dark base-palette: FFC2D1,FFE5EC,FFB3C6,FF8FAB,FB6F92   ; */
  --grid-color-l: #323131;
  --grid-color-d: #f1ebf2;
  --bg-glass-l: #ff8fab69;
  --bg-glass-d: #32313196;

  --primary-color: #6a6a6a;
  --secondary-color: #323131;
  --tertiary-color: #f1ebf2;
  --text-color: #ff8fab;
  --gridc: var(--grid-color-d);
  --background-image: var(--background-image-d);
  --button-bg: var(--button-bg-d);
  --bg-glass: var(--bg-glass-d);
 

  --texti-color-d: #ffb3c6;
  --texti-color-l: #ffffff60;
  --texti-color: var(--texti-color-d);
  --gen-col: #ffffff88;
}

[data-theme="light"] {
  --primary-color: #ffb3c6;
  --secondary-color: #ff8fab;
  --tertiary-color: #fb6f92;
  --text-color: #6a6a6a;
  --texti-color: var(--texti-color-l);
  --text-color-alt: #171717;
  --background-image: var(--background-image-l);
  --button-bg: var(--button-bg-l);
  --bg-glass: var(--bg-glass-l);
  --gridc: var(--grid-color-l);
  --gen-col: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
