.about_body {
  background-image: var(--background-image);
  font-family: var(--body);
  color: var(--text-color);
  overflow-x: hidden;
}

.outer {
  width: 100vw;
  overflow-x: hidden;
}

.head {
  text-align: center;
  font-size: 80px;
  font-weight: 500;
  font-family: var(--head);
  position: relative;
  display: none;
}

.about_block {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  scroll-snap-type: y mandatory;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  gap: 10vh;
}

.divide {
  position: relative;
}

.abt_container {
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  grid-template-columns: 1fr 0.5fr 1fr;
  height: 100vh;
  grid-template-areas:
    ". . ."
    "abtt1 title1 abtt11";
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  scroll-snap-align: center;
}
.abt2,
.abt4,
.abt31 {
  grid-area: abtt11;
}
.tag2,
.tag4,
.tag3 {
  grid-area: title1;
}
.abt21,
.abt41,
.abt3 {
  grid-area: abtt1;
}
.abt_container1 {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-template-columns: 1fr 0.5fr 1fr;
  height: 100vh;
  grid-template-areas:
    ". . ."
    "abt1 title abt11";
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  scroll-snap-align: start;
}

.abt1 {
  grid-area: abt1;
}
.tag1 {
  margin-top: 6vh;
  grid-area: title;
}
.abt11, 
.abt21, 
.abt31, 
.abt41 {
  overflow: hidden; 
  
}
.abt11{
grid-area: abt11;
}
.abt11 img,
.abt21 img, 
.abt31 img, 
.abt41 img
{
object-fit: contain;
left: -60%;
  top: -65%;
scale: .5;
position: absolute;

}

.about_block::before {
  content: "";
  position: absolute;
  top: 220px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-image: linear-gradient(
    100deg,
    var(--secondary-color) 0%,
    var(--text-color) 50%,
    var(--secondary-color) 100%
  );
  height: calc(100% - 200px);
}

.tag1,
.tag2,
.tag3,
.tag4 {
  font-size: 50px;
  padding: 10px;
  font-stretch: ultra-expanded;
  font-family: var(--head);
  font-weight: 450;
  justify-self: center;
  align-self: self-start;
}

.abt1,
.abt2,
.abt3,
.abt4 {
  position: relative;
  font-size: 1.2vw;
  padding: 25px;
  border-radius: 5px;
  width: 80%;
  height: fit-content;
  box-shadow: 2px 5px 10px rgba(2, 2, 2, 0.297);
  text-align: justify;
  background-color: var(--bg-glass);
}
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.abt1::before,
.abt1::after,
.abt2::before,
.abt2::after,
.abt3::before,
.abt3::after,
.abt4::before,
.abt4::after {
  content: "";
  position: absolute;
  inset: -0.1rem;
  z-index: 2;
  background: conic-gradient(#FB6F92 0%, #FFE5EC 40%,#FFE5EC 60%, #FB6F92 100%);
  border-radius: inherit;
  animation: moving 3s linear infinite;

  mask: linear-gradient(
      to right,
      black 0.4%,
      transparent 0%,
      transparent 99.6%,
      black 90%
    ),
    linear-gradient(
      to bottom,
      black 0.5%,
      transparent 0%,
      transparent 99.5%,
      black 90%
    );
}
@keyframes moving {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.abt1,
.abt3 {
  justify-self: end;
}

.abt2,
.abt4 {
  justify-self: start;
}

.abt11,
.abt21,
.abt31,
.abt41 {
  position: relative;
  font-size: 18px;
  padding: 50px;
  height: 20vw;
  background-color: white;
  border-radius: 12px;
  width: 60%;
  box-shadow: 2px 5px 10px rgba(2, 2, 2, 0.297);
}

.abt11,
.abt31 {
  justify-self: start;
}

.abt21,
.abt41 {
  justify-self: end;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.abt1::after,
.abt2::after,
.abt3::after,
.abt4::after {
  filter: blur(3px);
}

@media (min-width: 768px) and (max-width: 1199px) {
  .tag1,
  .tag2,
  .tag3,
  .tag4 {
    font-size: 30px;
  }

  .abt1,
  .abt2,
  .abt3,
  .abt4 {
    font-size: 1.2vw;
    padding: 10px;
    max-height: fit-content;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .tag1,
  .tag2,
  .tag3,
  .tag4 {
    font-size: 6vw;
    align-self: center;
    border: none;
  }
  .head {
    display: block;
    font-size: 8vw;
  }

  .abt1,
  .abt2,
  .abt3,
  .abt4 {
    font-size: 20px;
    padding: 20px;
    max-height: fit-content;
    min-width: 50vw;
    background-image: none;
    box-shadow: none;
  }

  .abt_container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: unset;
    border: 2px solid white;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    height: fit-content;
    gap: 20px;
    margin-top: 20vh;
    padding:2rem 0 ;
  }
  .about_block::before {
    background-image: none;
  }
  .abt_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    scroll-snap-align: unset;
    border: 2px solid white;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    gap: 20px;
    text-align: center;
  }

  .abt1,
  .abt3,
  .abt2,
  .abt4,
  .abt11,
  .abt31,
  .abt21,
  .abt41 {
    justify-self: center;
  }
  .about_block {
    scroll-snap-type: unset;
    overflow: hidden;
    height: fit-content;
  }
  .abt11,
  .abt21,
  .abt31,
  .abt41 {
    object-fit: scale-down;
    margin: 10px;
    width: 50vw;
  }
}

@media (max-width: 575px) {
  .about_block::before {
    background-image: none;
  }
  .tag1,
  .tag2,
  .tag3,
  .tag4 {
    font-size: 6vw;
    align-self: center;
    border: none;
  }
  .head {
    display: block;
    font-size: 8vw;
    font-weight: 800;
  }
  .about_block {
    scroll-snap-type: unset;
    overflow: hidden;
    height: fit-content;
  }
  .abt11,
  .abt21,
  .abt31,
  .abt41 {
    object-fit: scale-down;
    margin: 10px;
  }

  .abt1,
  .abt2,
  .abt3,
  .abt4 {
    font-size: 15px;
    padding: 20px;
    max-height: fit-content;
    min-width: 70vw;
    background-image: none;
    box-shadow: none;
  }
  .abt_container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align:unset;
    border: 2px solid white;
    height: fit-content;
    margin: 20px;
    border-radius: 10px;
    gap: 20px;
    text-align: center;
    margin-top: 30vh;
    padding: 2rem 0;
  }
  .abt_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: unset;
    border: 2px solid white;
    height: fit-content;
    margin: 20px;
    border-radius: 10px;
    gap: 20px;
    text-align: center;
    padding: 2rem 0;
  }

  .abt1,
  .abt3,
  .abt2,
  .abt4,
  .abt11,
  .abt31,
  .abt21,
  .abt41 {
    justify-self: center;
  }

.abt11 img,
.abt21 img, 
.abt31 img, 
.abt41 img
{
object-fit: contain;
left: -140%;
  top: -230%;
scale: .6;
position: absolute;

}

}