.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  padding-top: 4vh;
  background-color: var(--primary-color);
}

.adminContainer {
  display: flex;
  height: 80vh;
  width: 80vw;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.sidebar {
  width: 20vw;
  background-color: var(--secondary-color-light);
  color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dropdownButton {
  display: none;
  background-color: var(--secondary-color-light);
  color: #ffffff;
  border: none;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.sidebarList {
  list-style: none;
  padding: 0;
}

.sidebarList.show {
  display: block;
}

.sidebarItem {
  margin-bottom: 15px;
}

.sidebarLink {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  transition: color 0.3s ease;
  z-index: 5;
}

.sidebarLink::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  border-radius: 50px;
  background-color: #ffffff;
  transition: width 0.5s ease, left 0.5s ease, background-color 0.3s ease;
}

.sidebarLink.active::before {
  width: 100%;
  left: 0;
}

.sidebarLink.active {
  color: #ffffff;
}

.sidebarLink:hover {
  color: #ffffff;
}

.icon {
  font-size: 24px;
}

.mainContent {
  width: 100%;
  overflow-y: auto;
}

.mainContent h2 {
  color: #343a40;
  font-size: 28px;
  margin-bottom: 20px;
}

.mainContent p {
  color: #6c757d;
  font-size: 18px;
}

.btn {
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #6c757d71;
  color: var(--text-color);
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .adminContainer {
    margin: 10vh 10px;
    flex-direction: column;
    height: auto;
  }
  .adminContainer {
    display: flex;
    width: 100vw;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
  }

  .sidebar {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .dropdownButton {
    display: block;
  }

  .sidebarList {
    display: none;
  }

  .sidebarList.show {
    display: block;
  }

  .sidebarItem {
    display: block;
    width: 100%;
  }

  .sidebarLink {
    justify-content: flex-start;
    padding-left: 20px;
  }

  .mainContent {
    margin-left: 0;
  }
}
