/* faqs.module.css */

.faqSection {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: var(--text-color);
  margin-top: 5rem;
  background-color: var(--bg-glass);
}

.faqTitle {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  
}

.faqContainer {
  border: 1px solid var(--secondary-color);
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.question {
  background-color: var(--secondary-color);
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.question:hover {
  background-color: var(--tertiary-color);
}

.question h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #6A6A6A;
}

.icon {
  font-size: 1.2rem;
  color: #6A6A6A;
}

.answers {
  padding: 15px;
  background-color: var(--background-image);
}

.answers p {
  margin: 0;
  line-height: 1.6;
}

.icon.fa-caret-up {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .faqSection {
    padding: 10px;
  }
  
  .faqTitle {
    font-size: 1.8rem;
  }
  
  .question h4 {
    font-size: 1rem;
  }
  
  .icon {
    font-size: 1rem;
  }
}