body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.genre {
  background-color: var(--background-image);
  padding: 3rem 1.5rem;
  font-family: var(--body);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.sectionSubtitle {
  font-family: var(--head);
  font-size: 1.25rem;
  color: var(--text-color);
  text-align: center;
}

.sectionTitle {
  font-family: var(--head);
  font-size: 2.5rem;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.hasUnderline::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background-color: var(--text-color);
  margin: 1rem auto 0;
}

.gridList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.chapterCard {
  position: relative;
  background-color: var(--bg-glass);
  border-radius: 6px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  height: 300px; /* Fixed height for uniformity */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.chapterCard::before,
.chapterCard::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  z-index: 2;
  background: conic-gradient(
    from var(--gradient-angle),
    #ff1953 ,
    #FF8FAB,
    #FFE5EC,
    #FF8FAB,
    #ff1953 
  );
  border-radius: 3px;
  animation: moving 3s linear infinite;

  mask: linear-gradient(
      to right,
      black 0.4%,
      transparent 0%,
      transparent 99.6%,
      black 90%
    ),
    linear-gradient(
      to bottom,
      black 0.5%,
      transparent 0%,
      transparent 99.5%,
      black 90%
    );
}

@keyframes moving {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.cardSubtitle {
  font-family: var(--head);
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.cardTitle {
  font-family: var(--head);
  font-size: 1.75rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.cardText {
  font-family: var(--body);
  font-size: 1rem;
  color: var(--gen-col);
  line-height: 1.5;
  flex-grow: 1;
}

.h3{
    color: var(--text-color);
}

@media (max-width: 768px) {
  .chapterCard {
    height: auto; /* Allow height to adjust on smaller screens */
    
  }
}
