.outerConatiner{
    font-family: var(--body);
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow-x: hidden;
    z-index:3;
    position: relative;
}
.secondMain{
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
}
.textOuter{
    width: 50%;
    height: 100%;
 display: flex;
 flex-direction: column;
justify-content: center;
}
.hf{
    font-size: 90px;
    letter-spacing: 2px;
    font-weight: 900;
    font-stretch:wider ;
 color:var(--text-color) ;
}
.hs{
    font-size: 40px;
    color:#F1EBF2 ;
}
.ht{
    font-size: 35px;
    color:#F1EBF2 ;
}
.imageOuter{
    width: 50%;
    height: 100%;
}
.firstImg{
    width: 100%;
    height: 100%;
}
.gridBack{
    width: 80%;
    height: 80%;
    background-image: 
    linear-gradient(to right, #cccccc2a 1px, transparent 1px),
    linear-gradient(to bottom, #cccccc4f 1px, transparent 1px);
  background-size: 20px 20px;

}
.btn{
    background-color: var(--button-bg);
}

@media (max-width: 450px) {
    .imageOuter{
        visibility: hidden;
    }
    .outerConatiner{
        margin-left: 20%;
    }
  }
  