.body {
  background-image: var(--background-image);
  min-height: 90vh;
  font-family: var(--body);
  color: var(--secondary-color);
  padding: 5rem;
}

.element {
  padding: 1rem;
  border-radius: 2rem;
  padding-left: 5rem;
  margin: 2rem;
  align-items: center;
  justify-content: center;
  color: var(--text-color);

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
  background-color: rgba(245, 245, 245, 0.105);
}

.header {
  color: var(--text-color);
  text-align: center;
  padding: 2.5rem;
  font-size: x-large;
  font-weight: 600;
  font-family: var(--head);
}
.inside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchBar {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  outline: none;
  margin: 1rem;
  width: 100%;
  background-color: var(--secondary-color);
}
.searchBar:focus {
  border: 1px solid var(--primary-color);
}

.btns {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.btns:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.title {
  margin-right: 4rem;
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.searchIcon {
  margin-top: 1.5rem;
}

.icon {
  font-size: larger;
  margin-left: 1rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .body {
    padding: 1.5rem;
    padding-top: 4rem;
  }
  .element {
    padding: 1rem;
    padding-left: 2rem;
    margin: 1rem;
  }
  .header {
    font-size: large;
    padding: 1.5rem;
  }
  .title {
    margin-right: 2rem;
  }
  .inside {
    display: flex;
    flex-direction: column;
  }
  .searchBar {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .element {
    padding: 0.5rem;
    padding-left: 1rem;
    margin: 0.5rem;
  }
  .header {
    font-size: medium;
    padding: 1rem;
  }

  .title {
    margin-right: 1rem;
  }

  h3 {
    margin-left: 40%;
  }
  .btns {
    margin-left: 25%;
  }
}
