.topbarContainer {
  width: 100%;
  z-index: 4;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile {
  color: var(--text-color);
}
.bg {
  background: var(--primary-color);
  height: 90px;
  transition: all 0.5s ease-in-out;
}
.webLogo {
  width: 70px;
  height: 70px;
  margin-left: 40px;
  margin-top: 10px;
  border-radius: 50%;
}

.rightComponent {
  float: right;
  margin-right: 40px;
  margin-top: 10px;
  height: 70px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.uiswitch {
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;

  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.uiswitch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

.uiswitch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.uiswitch input:active + .slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.outer {
  display: none;
}

.outer nav {
  float: right;
}

.outer nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.outer nav ul li {
  list-style: none;
}

.outer nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  transition: background 0.3s ease, color 0.3s ease;
}

.outer nav ul li a:hover,
.outer nav ul li a.active {
  color: var(--primary-color);
  background: var(--secondary-color);
}

.menuToggle {
  color: var(--text-color);
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1024px) {
  .outer {
    display: flex;
  }
  .menuToggle {
    display: flex;
  }
  .outer nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 90px);
    background: var(--primary-color);
    top: 90px;
    left: -100%;
    transition: 0.5s;
  }
  .outer nav.active {
    left: 0;
  }
  .outer nav ul {
    display: block;
    text-align: left;
  }
  .webLogo {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 50%;
  }
}

.tab {
  width: auto;
  color: var(--text-color);
  overflow: hidden;
}

.tabLabel {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: var(--primary-color);
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  cursor: pointer;
  color: var(--text-color);
}

.tabLabel::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: transform 0.35s, color 0.35s;
  color: var(--text-color);
}

.tabContent {
  max-height: 0;
  color: var(--text-color);
  background: var(--primary-color);
  transition: max-height 0.35s, padding 0.35s, background 0.35s;
}
.tabContent p {
  padding: 0 20px;
  margin: 0;
}

.tabClose {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  cursor: pointer;
}

.accordianInput:checked + .tabLabel::after {
  transform: rotate(90deg);
}

.accordianInput:checked ~ .tabContent {
  max-height: 100vh;
}

.accordianInput {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.activeNavItem {
  color: var(--primary-color);
  background: var(--secondary-color);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  background: var(--background-color);
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  position: relative;
}
.btn1 {
  background-color: var(--button-bg);
}
